/* Global styles */
body {
    background-color: #FAFAFA;
    font-family: 'Roboto Mono', monospace;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 48px;
    margin-left: 48px;
    padding: 0;
}

/* Header styles */
header {
    font-weight: 600;
    background-color: #FAFAFA;
    color: #FAFAFA;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 24px;
}

.options {
    padding: 0px;
}

button {
    background-color: transparent;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

/* Content styles */
.content {
    padding: 20px;
    text-align:center;
    align-items: center;
}

}
.image {
    margin-bottom: 48px;
}

.image img {
    max-width: 100%;
    height: auto;
    width: 196px;
}

.cta-title {
    text-align: center;
    margin-bottom: 48px;
    font-size: 72px;
    letter-spacing: -1.5px;
}

.button-title {
    text-align: left;
    padding-top: 240px;
    margin-bottom: 72px;
    font-size: 72px;
    letter-spacing: -1.5px;
}

.filter-options {
    text-align: left;
}

.filter-option {
    background-color: transparent;
    clear: both;
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 12px 24px;
    color: #000;
    cursor: pointer;
    border: solid 2px;
    border-radius: 64px;
    font-size: inherit;
    font-family: inherit;
}

.filter-option:hover {
    background-color: transparent;
    clear: both;
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 12px 24px;
    color: #4A30F2;
    cursor: pointer;
    border: solid 2px;
    border-color: #4A30F2;
    border-radius: 64px;
    font-size: inherit;
    font-family: inherit;
}

.filter-option:onclick {
    background-color: #4A30F2;
    clear: both;
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 12px 24px;
    color: #FAFAFA;
    cursor: pointer;
    border: solid 2px;
    border-color: #4A30F2;
    border-radius: 64px;
    font-size: inherit;
    font-family: inherit;
}

.accordion-content {
    display: none;
}

/* Footer styles */
footer {
    background-color: #333;
}

/* Accordion styles */
.accordion {
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    padding: 24px 16px 24px 16px;
    font-weight: 600;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 36px;
    transition: 0.1s;
    font-family: inherit;
    border-top: 2px solid black;

}

.active,
.accordion:hover {
    color: #4A30F2;
}

.accordion-icon {
    float: right;
}

.panel {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 16px;
    display: none;
    overflow: hidden;
}


.panel .text {
    width: calc(66.66% - 16px);
    float: left;
}

.panel-image {
    width: calc(33.33% - 16px);
    float: right;
}

.see-more {
    background-color: transparent;
    clear: both;
    display: block;
    margin-top: 36px;
    padding: 12px 24px;
    border: none;
    color: #000;
    cursor: pointer;
    border: solid 2px;
    border-radius: 64px;
    font-size: inherit;
    font-family: inherit;
}

/* Accordion icon styles */
.accordion-icon::before {
    content: '+';
}

.accordion.active .accordion-icon::before {
    content: '-';
}
